<div class="search_form">
  <%= form_with url: search_path, local: true, method: :get do |f| %>
    <%= f.text_field :word %>
    <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["部分一致","partial_match"]]) %>
    <%= f.select :dogcat, options_for_select([["犬","犬"], ["猫","猫"]]) %>
    <%= f.submit "検索", class: "btn-sm btn-primary" %>
  <% end %>
</div>

<%= form_with url: public_posts_path, method: :get do |f| %> 
  <%= f.select :coat_id, @coats.map { |co| [co.name, co.id] }, { include_blank: '全ての毛並み' } %> 
  <%= f.submit '検索' %> 
<% end %>

  <% @posts.each do |post| %>
  <div>
    <%= link_to public_post_path(post.id) do %>
    <% if post.images.attached? %>
      <% image = post.images.first %>
      <%= image_tag image.variant(resize: '200x200') %>
    <% end %>
    <p>タイトル：<%= post.title %></p>
    <p>種類：<%= post.kinds %></p>
    <p>性別：<%= post.gender %>  年齢：<%= post.age %></p>
    <p>募集地域：<%= post.recruitment_area %></p>
    <% end %>
  </div>
<% end %>