<div>
  <%= link_to public_user_path(@post.id) do %>
  <p>投稿者：<%= @post.user.name %></p>
  <% end %>
  <p>タイトル：<%= @post.title %></p>
  <% if @post.images.attached? %>
    <% @post.images.each do |image| %>
      <%= image_tag image.variant(resize: '200x200') %>
    <% end %>
  <% end %>
  <p>種類：<%= @post.kinds %></p>
  <p>年齢：<%= @post.age %></p>
  <p>性別：<%= @post.gender %></p>
  <p>募集地域：<%= @post.recruitment_area %></p>
  <p>毛並み：
    <% if @post.post_coats.present? %>
      <% @post.coats.each do |coat| %>
        <%= coat.name %>
      <% end %>
    <% end %>
  </p>
  <p>健康状態：<%= @post.health_condition %></p>
  <p>ワクチン接種済み：<%= @post.vaccination_text %></p>
  <p>不妊治療：<%= @post.infertility_treatment_text %></p>
  <p>特徴：<%= @post.features %></p>
  <p>譲渡条件：<%= @post.transfer_condition %></p>
  <p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
  <% if @post.user == current_user %>
    <%= link_to "削除", public_post_path(@post), method: :delete %>
  <% end %>
  
  <% if @post.favorited_by?(current_user) %>
    <p>
      <%= link_to public_post_favorite_path(@post), method: :delete do %>
        ♥<%= @post.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to public_post_favorite_path(@post), method: :post do %>
        ♡<%= @post.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>
</div>