<% if user_signed_in? %>
<div class="search_form">
  <%= form_with url: search_path, local: true, method: :get do |f| %>
    <%= f.text_field :word %>
    <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["部分一致","partial_match"]]) %>
    <%= f.submit "検索", class: "btn-sm btn-primary" %>
  <% end %>
</div>
<% end %>
<%= form_with url: public_posts_path, method: :get do |f| %> 
  <%= f.select :coat_id, @coats.map { |co| [co.name, co.id] }, { include_blank: '全ての毛並み' } %> 
  <%= f.submit '検索' %> 
<% end %>

<h1>-APFP-里親募集</h1>
<p>飼いたい動物の種類や特徴ががわからない初めての方でも、自分に合った動物と出会える動物里親マッチングサイトです。</p>
<% @posts.each do |post| %>

  <%= link_to public_post_path(post.id) do %>
  <div>
    <% post.images.each do |image| %>
      <%= image_tag(image, width:100) %>
    <% end %>
    <p>タイトル：<%= post.title %></p>
    <p>種類：<%= post.kinds %></p>
    <p>性別：<%= post.gender %>  年齢：<%= post.age %></p>
    <p>募集地域：<%= post.recruitment_area %></p>
  </div>
  <% end %>
<% end %>