<h1>-APFP-里親募集</h1>
<p>飼いたい動物の種類や特徴ががわからない初めての方でも、自分に合った動物と出会える動物里親マッチングサイトです。</p>
<% @posts.each do |post| %>

  <%= link_to post_path(post.id) do %>
  <div>
    <% post.images.each do |image| %>
      <%= image_tag(image, width:100) %>
    <% end %>
    <p>タイトル：<%= post.title %></p>
    <p>種類：<%= post.kinds %></p>
    <p>性別：<%= post.gender %>  年齢：<%= post.age %></p>
    <p>募集地域：<%= post.recruitment_area %></p>
  </div>
  <% end %>
<% end %>