<% @post.each do |post| %>
  <div>
    <% if post.images.present? %>
      <% top_image = post.images.first %>
      <%= image_tag top_image %>
    <% end %>
    <p>タイトル：<%= post.title %></p>
    <p>種類：<%= post.kinds %></p>
    <p>性別：<%= post.gender %>  年齢：<%= post.age %></p>
    <p>募集地域：<%= post.recruitment_area %></p>
  </div>
<% end %>